<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241237685956-9rih3svnbvqh8ma3rt82kd060hqb8lqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241237685956-9rih3svnbvqh8ma3rt82kd060hqb8lqv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241237685956-kmijpmqb2n5r77sm5bci6mtp40fdmo5j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCr2diHnBPGGBcs28DxEngC4S27d3V1CuA</string>
	<key>GCM_SENDER_ID</key>
	<string>241237685956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.castlecreations.castlelink.development</string>
	<key>PROJECT_ID</key>
	<string>castle-link-online-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>castle-link-online-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241237685956:ios:3dafeba23bafca377d3b91</string>
	<key>DATABASE_URL</key>
	<string>https://castle-link-online-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>